:root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#000428,#004e92);
    --background: 249 100% 98.16%;
    --foreground: 249 10% 0.32%;

    --muted: 249 10% 90.8%;
    --muted-foreground: 249 5% 40.8%;

    --popover: 249 10% 90.8%;
    --popover-foreground: 249 10% 0.4%;

    --card: 249 10% 90.8%;
    --card-foreground: 249 10% 0.4%;

    --border: 249 15% 89.32%;
    --input: 249 15% 89.32%;

    --primary: 249 100% 8%;
    --primary-foreground: 249 2% 90.8%;

    --secondary: 249 5% 95.4%;
    --secondary-foreground: 249 7% 10.8%;

    --accent: 249 5% 95.4%;
    --accent-foreground: 249 7% 10.8%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 249 100% 8%;

    --radius: 0.5rem;
  }

.dark {
  /* CSS: .bg-gradient { background: var(--gradient) } */
  --gradient: linear-gradient(to top left, #acb6e5, #86fde8);

  --background: 244 33.800000000000004% 6.32%;
  --foreground: 244 5.2% 98.95%;

  --muted: 244 26% 23.700000000000003%;
  --muted-foreground: 244 5.2% 57.9%;

  --popover: 244 54.6% 10.27%;
  --popover-foreground: 244 5.2% 98.95%;

  --card: 244 54.6% 10.27%;
  --card-foreground: 244 5.2% 98.95%;

  --border: 244 26% 23.700000000000003%;
  --input: 244 26% 23.700000000000003%;

  --primary: 244 52% 79%;
  --primary-foreground: 244 5.2% 7.9%;

  --secondary: 244 26% 23.700000000000003%;
  --secondary-foreground: 244 5.2% 98.95%;

  --accent: 244 26% 23.700000000000003%;
  --accent-foreground: 244 5.2% 98.95%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 244 5.2% 98.95%;

  --ring: 244 52% 79%;
}