/* src/index.css */
@import "tailwindcss";
@import "./styles/tabs.css";

@custom-variant dark (&:where(.dark, .dark *));


	:root {
/* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
--gradient: linear-gradient(to top left,#000C40,#607D8B);
    --background: 243 100% 98.26%;
    --foreground: 243 10% 0.52%;

    --muted: 243 10% 91.3%;
    --muted-foreground: 243 5% 41.3%;

    --popover: 243 10% 91.3%;
    --popover-foreground: 243 10% 0.65%;

    --card: 243 10% 91.3%;
    --card-foreground: 243 10% 0.65%;

    --border: 243 15% 89.52%;
    --input: 243 15% 89.52%;

    --primary: 243 100% 13%;
    --primary-foreground: 243 2% 91.3%;

    --secondary: 243 5% 81.73%;
    --secondary-foreground: 243 7% 11.3%;

    --accent: 243 5% 95.65%;
    --accent-foreground: 243 7% 11.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 243 100% 13%;

    --radius: 0.5rem;
  }

	.dark {
/* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#acb6e5,#86fde8);

    --background: 244 33.800000000000004% 6.32%;
    --foreground: 244 5.2% 98.95%;

    --muted: 244 26% 23.700000000000003%;
    --muted-foreground: 244 5.2% 57.9%;

    --popover: 244 54.6% 10.27%;
    --popover-foreground: 244 5.2% 98.95%;

    --card: 244 54.6% 10.27%;
    --card-foreground: 244 5.2% 98.95%;

    --border: 244 26% 23.700000000000003%;
    --input: 244 26% 23.700000000000003%;

    --primary: 244 52% 79%;
    --primary-foreground: 244 5.2% 7.9%;

    --secondary: 244 26% 23.700000000000003%;
    --secondary-foreground: 244 5.2% 98.95%;

    --accent: 244 26% 23.700000000000003%;
    --accent-foreground: 244 5.2% 98.95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 244 5.2% 98.95%;

    --ring: 244 52% 79%;
  }