/* src/index.css */
@import "tailwindcss";
@import "./styles/tabs.css";
@import "./styles/themed-controls.css";
@import "./styles/layout.css";
@import "../public/domain_default/domain.css";

/* Custom utility for multi-line truncation */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}



